@font-face {
    font-family: 'Halt';
    src: url('/static/fonts/Halt.ttf') format('truetype');
}

.big-image h1, .marketing h2, .custom-font {
    font-family: Halt, sans-serif;
}

.default-font-family {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-brand {
    font-family: Halt, sans-serif;
    font-size: 2em;
}

.big-image {
    background: url("/static/images/bpwstr_banner.jpg") no-repeat center;
    background-size: cover;
    padding: 3vw 5vw;
    text-align: center;
    color: white;
    margin-bottom: 2em;
}

.big-image h1 {
    font-size: 6em;
    text-shadow: 0.1em 0.1em black;
}

body {
    position: relative;
    min-height: 100vh;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.border-fix {
    border-top-left-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important;
}

.main {
    padding-bottom: 5em;
}

.running-text h1, .running-text h2, .running-text h3, .running-text h4 {
    font-family: Halt, sans-serif;
}

.running-text p {
    text-align: justify;
}

.running-text h3 {
    margin-top: 2em;
}

.running-text h4 {
    margin-top: 1em;
}

.generic-fullpage-bg {
    background: url("/static/images/tennis-blurred.jpg") no-repeat top;
    background-size: cover;
    min-height: 100vh;
}

.loading-logo {
    animation: blink .8s ease-in-out infinite;
}

@keyframes blink {
    0% {
        filter: grayscale(100%);
    }
    70% {
        filter: grayscale(0%);
    }
    100% {
        filter: grayscale(100%);
    }
}
