
.error-box {
    border: 2px solid #dc3545;
    border-radius: 4px;

    padding-right: 16px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.error-box > li {
    color: #dc3545;
    margin-right: 36px;
    display: inline;
}

.error-box > li:last-child {
    margin-right: 0px;
}