.group_card {
    margin-top: 15px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: top;
}

.team_item {
    display: inline-block;
    margin: .5rem;
}

.grouped_team_item {
    display: block;
    margin-bottom: .5rem;
    border-radius: .25rem;
}
